@use 'styles/style' as *;

.wrap {
  flex-grow: 1;
  min-width: 220px;
  display: flex;
  height: 60px;

  @include tablet-mobile {
    margin-bottom: 20px;
  }
}

.dropMenu {
  width: 100%;
  font-family: $font-Mont;
  font-style: normal;
  font-weight: $fw-semibold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: $color-blue-b2;
  position: relative;
}

.wide {
  width: 456px;

  @include tablet-mobile {
    width: 370px;
  }

  @media (max-width: 400px) {
    width: 300px;
  }
}

.short {
  width: 220px;
  @media (max-width: 400px) {
    width: 300px;
  }
}

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0 20px;
  height: 100%;
  background: $color-gray-f6;
  border-radius: 100px;
}

.options {
  flex-direction: column;
  justify-content: flex-start;
  padding: 8px;
  background: $color-gray-f6;
  border: 0.75px solid $color-dark-blue-border;
  box-shadow: 0px 4.8px 12px $color-shadow-5-24;
  backdrop-filter: blur(63.7px);
  border-radius: 30px;
  pointer-events: none;
  position: absolute;
  z-index: 11;
  width: 100%;
  display: none;
}

.openMenuBottom {
  display: flex;
  top: calc(100% + 5px);
  pointer-events: all;
}

.openMenuTop {
  display: flex;
  bottom: calc(100% + 5px);
  pointer-events: all;
}

.container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.selected {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
.Pink {
  color: $color-pink-2;
}

.Blue {
  color: $color-blue-b2;
}

.arrow {
  width: 19px;
  height: 10px;
  background: url('/assets/icons/BlueArrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ArrowTop {
  transform: rotate(180deg);
}

.resetMenuBtn {
  width: 14px;
  height: 14px;
  border: none;
  background: url('/assets/icons/X.svg');
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
