@use 'styles/style' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: $font-Mont;
  padding: 64px 72px;
  gap: 82px;

  @include tablet-mobile {
    padding: 32px 20px;
  }
}
.titleInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.title {
  font-style: normal;
  font-weight: $fw-bold;
  font-size: 40px;
  line-height: 120%;
  color: $color-black;
  text-align: center;
  @include tablet-mobile {
    font-size: 30px;
  }
}
.subtitle {
  width: 100%;
  max-width: 450px;
  letter-spacing: -0.02em;
  font-style: normal;
  font-weight: $fw-semibold;
  font-size: 22px;
  line-height: 140%;
  color: $color-gray-a5;
  text-align: center;
  @include tablet-mobile {
    font-size: 18px;
  }
}
.subtitleEmail {
  max-width: 545px;
  text-align: center;
  color: $color-gray-54;
}
.email {
  background: $color-gradient-blue-pink-90d;
  background-clip: text;
  color: transparent;
  font-weight: $fw-bold;
}

.resetBtn {
  width: 100%;
  max-width: 280px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  max-width: 545px;
}

.button {
  width: 100%;
}
