@use 'styles/style' as *;

.wrapperStocks {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: $font-Mont;
}
.wrapperText {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.title {
  width: fit-content;
  font-style: normal;
  font-weight: $fw-bold;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: $color-black;
}

.subtitle {
  text-align: start;
  width: 100%;
  max-width: 730px;
  font-style: normal;
  font-weight: $fw-semibold;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: $color-gray-a5;
}

.titleInfo {
  font-style: normal;
  font-weight: $fw-semibold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $color-gray-a5;
}
.info {
  display: flex;
  gap: 10px;
  background: $password-gradient;
  background-clip: text;
  color: transparent;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.03em;
}

.wrapperContent {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.userInfo {
  display: flex;
  gap: 40px;
  & > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    &:not(:last-child){
        padding-right: 60px;
        border-right: 1px solid #EBEBEB;
    }
  }
}

.currency{
    font-size: 35px;
    line-height: 60px;
}

.userCard{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
