@use 'styles/style' as *;

.stockCards {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
  padding: 30px;
}

.stockCard {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  min-width: 480px;
  align-items: center;
  background: $color-gray-f6;
  border: 1px solid $color-dark-blue-border;
  border-radius: 12px;
  padding: 0 14px;

  div:not(:last-of-type)::after {
    content: '';
    position: absolute;
    border-right: 1px solid $color-blue;
    opacity: 0.15;
    width: 0px;
    height: 40px;
    right: -14px;
  }
}

.stockNameBlock {
  display: flex;
  width: 150px;
  overflow: hidden;
  height: 40px;
  position: relative;
  order: 1;

  border-right: 1px solid $color-black-light;
}

.stockNameBlockImageWrapper {
  display: flex;
  min-width: 40px;
  height: 40px;
}

.stockNameBlockTextWrapper {
  text-align: left;
  margin-left: 8px;

  h5 {
    font-size: 16px;
  }
  span {
    font-size: 18px;
    letter-spacing: -0.02em;
    color: $color-gray-a5;
  }
}

.stockCostWrapper {
  order: 2;
  position: relative;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;

  .stockCostValue {
    font-weight: $fw-semibold;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.02em;
    color: $color-blue;

    opacity: 0.6;
  }
  .stockCost {
    font-weight: $fw-semibold;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: $color-blue;

    span {
      font-size: 12px;
    }
  }
}

.stockSumWrapper {
  order: 3;
  position: relative;
  height: 40px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 14px;
  border-right: 1px solid $color-black-light;
  flex-grow: 1;
  min-width: 130px;

  .stockCostValue {
    font-weight: $fw-semibold;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.02em;
    color: $color-blue;
    opacity: 0.6;
  }
  .stockCost {
    font-weight: $fw-semibold;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: $color-blue;
    span {
      font-size: 12px;
    }
  }
}

.cancelBtn {
  order: 4;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background: #edf4ff;

    img {
      transform: scale(60%);
      color: $color-blue;
    }
}
