@use 'styles/style' as *;

.navFoot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
  font-weight: $fw-regular;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: $color-white;
  font-weight: 600;
}

.navFootSectionFlex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  @include tablet {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  @include laptop {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  @include mobile-laptop {
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
  }
}

.navFootSectionItems {
  display: flex;
  justify-content: end;
  width: 40%;
  gap: 60px;
  @include desktop {
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
  @include laptop {
    width: 100%;
    justify-content: center;
  }
  @include tablet {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  @include mobile-laptop {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

.links {
  display: flex;
  gap: 100px;
  align-items: center;
  list-style: none;
  padding: 0;

  @include laptop {
    gap: 70px;
  }
  @include tablet-mobile {
    gap: 30px;
    display: none;
  }
  @include desktop {
    gap: 60px;
  }
}
.link {
  cursor: pointer;

  @include mobile-laptop {
    font-size: 24px;
  }
}

.line {
  margin-top: 22px;
  margin-bottom: 12px;
  width: 100%;
  opacity: 0.3;
  border: 1px solid $color-white;
  height: 0;
  max-width: $max-layout-width;
  width: 100%;
}
.logInButton {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 60px;
  padding-right: 24px;
  background: $color-gray-02;
  box-shadow: 0 4px 10px $color-shadow-0-6;
  border-radius: 79px;
  border: none;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-white;
  cursor: pointer;

  @include tablet-mobile {
    height: 50px;
    font-size: 16px;
    line-height: 110%;
  }
}

.btnImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin-left: 4px;
  margin-right: 6px;
  border-radius: 62px;
  background: $color-gray-02;

  @include tablet-mobile {
    width: 40px;
    height: 40px;
  }
}

.burgerMenuLine {
  background: $background-linear-180;
}

.socialLink {
  display: flex;
  align-items: center;
  gap: 18px;

  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: $color-gray-02;
    cursor: pointer;
  }
}

.textWrapper {
  &:has(div) {
    max-width: 120px;
    overflow-x: scroll;
  }
  div {
    max-width: 500px;
    text-align: start;
    text-transform: none;
    white-space: nowrap;
  }
  &:has(div)::-webkit-scrollbar {
    height: 2px;
  }
  &:has(div)::-webkit-scrollbar-track {
    background: $color-gray-02;
  }
  &:has(div)::-webkit-scrollbar-thumb {
    height: 2px;
    border: 1px solid $color-gray-eb;
  }
}
