@use 'styles/style' as *;

.navFoot {
  display: flex;
  font-family: $font-Mont;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
  font-weight: $fw-semibold;
  line-height: 110%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: $color-white;
}

.logoWrapper {
  flex: 1;
  max-width: 100%;
  display: flex;
  justify-content: center;
  @include mobile-laptop{
    padding: 0 82px;
  }
  .logoGroup {
    display: flex;
    align-items: end;
    justify-content: space-between;
    @include mobile-tablet{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
    }
    @include tablet{
      max-width: 226px;
      justify-content: center;
      align-items: end;
      gap: 28px;
    }
    @include big-tablet{
      align-items: end;
    }    
    @include laptop{
      flex-wrap: nowrap;
    }
    .logo {
      position: relative;
      width: 70px;
      height: 94px;
      @include mobile-laptop{
        width: 86px;
        height: 131px;
      }
    }
    .logoText {
      position: relative;
      width: 246px;
      height: 26px;
      margin-bottom: 8px;
      @include mobile-laptop{
        width: 226px;
        height: 31px;
      }
    }
  }
  .logoTitle {
    width: 479px;
    display: flex;
    flex-wrap: wrap;
    align-content: end;
    margin-left: 64px;
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.045em;
    color: $color-white;
    text-align: start;
    mix-blend-mode: overlay;
    @media screen and (max-width: 1215px) {
      font-size: 26px;
    }
  }
}

.navFootSectionFlex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  gap: 35px;
  @include tablet {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  @include laptop {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  @include mobile-laptop {
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
  }
}

.navFootSectionTopItems{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: end;
  padding: 50px 100px 0;
  gap: 80px;
  font-size: 18px;
  text-transform: capitalize;
  @include mobile-laptop {
    padding: 50px 50px 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 31px;
    flex-wrap: wrap;
  }
  @include laptop{
    padding: 50px 0 0;
    gap: 10px;
  }
}

.navFootSectionBottomItems {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 28px;
  padding-bottom: 15px;
  @include laptop {
    width: 100%;
    align-items: center;
  }
  @include tablet {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }
  @include mobile-laptop {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
}

.links {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0 0 8px;
  @include laptop {
    margin-bottom: 8px;
    gap: 15px;
  }
  @include tablet-mobile {
    gap: 30px;
    display: none;
  }
  @include mobile-laptop{
    flex-wrap: wrap;
    gap: 30px;
  }
}

.link {
  cursor: pointer;
  @include mobile-laptop {
    font-size: 24px;
  }
}

.line {
  margin-top: 22px;
  margin-bottom: 12px;
  width: 100%;
  opacity: 0.3;
  border: 1px solid $color-white;
  height: 0;
  width: 100%;
}

.logInButton {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 60px;
  padding-right: 24px;
  background: $color-gray-02;
  box-shadow: 0 4px 10px $color-shadow-0-6;
  border-radius: 79px;
  border: none;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-white;
  cursor: pointer;
  @include tablet-mobile {
    height: 50px;
    font-size: 16px;
    line-height: 110%;
  }
}

.btnImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin-left: 4px;
  margin-right: 6px;
  border-radius: 62px;
  background: $color-gray-02;
  @include tablet-mobile {
    width: 40px;
    height: 40px;
  }
}

.burgerMenuLine {
  background: $background-linear-180;
}

.socialLink {
  display: flex;
  align-items: center;
  gap: 18px;
  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: $color-gray-02;
    cursor: pointer;
  }
}

.textWrapper {
  &:has(div) {
    max-width: 120px;
    overflow-x: scroll;
  }
  div {
    max-width: 500px;
    text-align: start;
    text-transform: none;
    white-space: nowrap;
  }
  &:has(div)::-webkit-scrollbar {
    height: 2px;
  }
  &:has(div)::-webkit-scrollbar-track {
    background: $color-gray-02;
  }
  &:has(div)::-webkit-scrollbar-thumb {
    height: 2px;
    border: 1px solid $color-gray-eb;
  }
}

