@use 'styles/style' as *;

.modal {
  position: absolute;
  top: 100px;
  right: 66px;
  padding: 44px 56px;
  width: 500px;
  border-radius: 30px;
  background: linear-gradient($color-white, $color-white) padding-box, $border-gradient-access border-box;
  border: 3px solid transparent;
  box-shadow: $box-shadow-02;
  backdrop-filter: blur(46.9084px);
  z-index: 99;
}

.title {
  text-align: start;
  font-size: 32px;
  font-weight: $fw-bold;
  color: $color-gray-a5;
  cursor: pointer;
}
.activeTitle {
  color: $color-black;
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-black-blue;
  z-index: 9999;
  overflow-y: scroll;
}

@media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width}) {
  .modal {
    position: absolute;
    top: 74px;
    right: auto;
    left: auto;
    padding: 24px 20px 24px 20px;
    width: calc(100% - 20px);
    border-radius: 30px;
    background: linear-gradient($color-white, $color-white) padding-box, $border-gradient-access border-box;
    border: 3px solid transparent;
    box-shadow: $box-shadow-02;
    backdrop-filter: blur(46.9084px);
    z-index: 99;
  }

  .popupOverlay {
    background-color: transparent;
  }

  .title {
    font-size: 26px;
    font-weight: $fw-medium;
    @media screen and (max-width: 362px) {
      font-size: 20px;
    }
  }
}
