@use 'styles/style' as *;

.header {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  padding: 0 36px;
  z-index: 99;
}

.headerWrapper {
  width: 100%;
  @include flex(flex, space-between, center);
}

.burger {
  display: none;
  position: absolute;
  top: 15px;
  left: 9px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: #{$tablet-width}) {
  .header {
    nav {
      justify-content: flex-end;
      margin-right: 16px;
    }
  }

  .burger {
    display: block;
  }
}
