@use 'styles/style' as *;

.header {
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 8px;
  padding: 0 8px;
}

.headerWrapper {
  width: 100%;
  @include flex(flex, space-between, center);
}

.burger {
  display: none;
  position: absolute;
  top: 15px;
  left: 9px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: #{$tablet-width}) {
  .header {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    padding: 0 8px;
    z-index: 99;
  }
  .burger {
    display: block;
  }
}
