@use 'styles/style' as *;

.card {
  width: 220px;
  min-height: 280px;
  padding: 35px 16px 12px;
  border-radius: 20px;
  background: $color-white;
  border: 4px solid transparent;
  box-shadow: 0px 3px 8px $color-black-08;
  backdrop-filter: blur(47px);
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 0.73px solid $color-black-05;
  @media screen and (max-width: 484px) {
    width: 210px;
  }
  @media screen and (max-width: 464px) {
    width: 200px;
  }
  @media screen and (max-width: 444px) {
    width: 190px;
  }
  @media screen and (max-width: 424px) {
    width: 180px;
  }
  @media screen and (max-width: 404px) {
    width: 175px;
  }
  @media screen and (max-width: 386px) {
    width: 100%;
  }
}

.addedItem {
  background: linear-gradient($color-white, $color-white) padding-box, $border-gradient-access border-box;
  position: relative;
  box-shadow: inset 230px 3px 8px $color-gray-f6, 0px 3px 8px $color-black-08;
}

.image {
  margin-bottom: 39px;
}

.appName,
.statistics {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 14px;
  border-bottom: 1px solid $color-gray-eb;
}

.name {
  color: $color-black;
  font-weight: $fw-bold;
}

.initials {
  color: $color-gray-a5;
  text-transform: uppercase;
  font-weight: $fw-bold;
}

.statistics {
  margin-top: 20px;
  padding-bottom: 15px;
}

.currency {
  font-size: 25px;
  color: $color-black;
  font-weight: $fw-bold;
  span {
    font-size: 16px;
  }
}

.percent {
  font-weight: $fw-semibold;
  color: $color-green-0d;
}

.buy {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buyBtn {
  text-transform: uppercase;
  font-weight: $fw-semibold;
  background: $password-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  cursor: pointer;
}

.buyText {
  margin-top: 9px;
  font-size: 12px;
  color: $color-gray-a5;
}
