@use 'styles/style' as *;

@media (min-width: #{$tablet-width}) {
  .card {
    position: relative;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    font-style: normal;
    font-weight: $fw-bold;
    font-size: 40px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: -0.045em;
  }

  .cardTitle {
    span {
      background: $border-gradient-access;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .cardImageWrapper {
    display: flex;
    justify-content: center;
    .cardImage {
      top: 0;
      left: 0;
      z-index: 2;
    }
  }

  .cardImageWrapper:last-of-type {
    position: absolute;
    z-index: 1;
    bottom: -42px;
    opacity: 0.2;
    filter: blur(20px);
  }
}

@media (max-width: #{$tablet-width}) {
  .card {
    position: relative;
    width: 85%;
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: -0.045em;
  }
  .cardTitle {
    span {
      background: $border-gradient-access;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .cardImageWrapper {
    display: flex;
    justify-content: center;
    width: 178px;
    .cardImage {
      top: 0;
      left: 0;
      z-index: 2;
    }
  }
  .cardImageWrapper:last-of-type {
    position: absolute;
    width: 156px;
    z-index: 1;
    bottom: -16px;
    opacity: 0.2;
    filter: blur(20px);
  }
}
