@use 'styles/style' as *;

.fillrequest {
  width: 100%;
  max-width: 1400px;
  background: $color-gray-01;
  box-shadow: 0px 4px 9px $color-dark-08;
  backdrop-filter: blur(80px);
  border-radius: 40px;
  height: 288px;
  margin: 195px auto 196px;

  @media (max-width:771px) {
    width: 90%;
    height: 100%;
    margin: 30px auto;
  }
}

.fillrequestWrapper {
  position: relative;
  width: 100%;
  @include flex(flex, space-between, null);
  padding-left: 52px;

  @media (max-width:771px) {
    position: relative;
    display: block;
    padding-left: 0;
  }

  @media (max-width:598px) {
    margin-top: 140px;
  }
}

.fillrequestAuth {
  width: 63%;
  margin: 46px 0;

  @media (max-width:1094px) {
    padding: 16px 0;
    margin: 0 auto;
    text-align: center;
  }

  @media (max-width:771px) {
    width: 90%;
  }

  @media (max-width:490px) {
    padding-top: 240px;
  }

  @include mobile {
    width: 100%;
    padding: 26px 4px;
  }
}

.fillrequestTitle {
  @include flex(flex, flex-start, null);
  margin-bottom: 32px;
  font-size: 32px;
  letter-spacing: -0.04em;
  font-weight: $fw-bold;

  @media (max-width:593px) {
    font-size: 28px;
  }
}

.fillrequestInfo {
  @include flex(flex, flex-start, null);
  color: $color-gray-a5;
  letter-spacing: -0.02em;
  font-size: 16px;
  margin-top: 24px;

  @media (max-width:1094px) {
    @include flex(flex, center, null);
  }
}

.fillrequestImage {
  position: absolute;
  right: 5%;
  top: -110px;

  @media (max-width:1094px) {
    display: none;
  }

  @media (max-width:490px) {
    display: block;
    top: -130px;
  }
}

.fillrequestInput {
  max-width: 726px;
  width: 100%;
  height: 76px;
  margin-bottom: 24px;
  border-radius: 38px;
  background: $color-white;
  border: 1px solid $color-dark-05;
  box-shadow: 0px 3px 7px $color-dark-08;

  >input {
    @media (max-width:593px) {
      text-align: center;
      margin: 0;
    }
  }

  &::placeholder {
    font-weight: $fw-semibold;
    font-size: 22px;
    letter-spacing: -0.04em;
    color: $color-gray-a5;
  }

  @include mobile {
    width: 80%;
    margin: 0 auto;
  }
}

.fillrequestBtn {
  display: none;

  @media (max-width:593px) {
    display: block;
    width: 113px;
    padding: 14px 34px;
    margin: 0 auto;
    margin-top: 32px;

    >div {
      width: 100%;
    }
  }
}