@use 'styles/style' as *;

.fillRequestSection {
  padding: 40px 20px;
  margin-bottom: 154px;

  @include tablet-mobile {
    margin-bottom: 70px;
  }
}

.fillRequestCard {
  max-width: 1400px;
  margin: auto;
  display: flex;
  align-items: center;

  @include mobile-laptop {
    display: block;
  }
}

.image {
  position: relative;
  z-index: 1;

  order: 2;
  width: 412px;
  height: 412px;
  margin: -40px 0 -40px -410px;
  pointer-events: none;

  @include mobile-laptop {
    margin: 0 auto -230px auto;
  }

  @include tablet-mobile {
    width: 252px;
    height: 252px;
    margin: 0 auto -140px auto;
  }
}

.shadow {
  width: 300px;
  height: 100%;
  border-radius: 50%;
  opacity: 0.3;

  background-color: $color-purple;
  filter: blur(50px);

  position: absolute;
  right: 80px;
  top: 0;

  @include mobile-laptop {
    background-color: $color-purple;
    width: 90%;
    height: 300px;
    top: -40%;
    right: 50%;
    transform: translateX(50%);
  }
  @include tablet-mobile {
    top: -200px;
  }
}

.forms {
  order: 1;
  position: relative;
  overflow: hidden;

  width: 100%;
  padding: 46px 500px 46px 52px;
  border-radius: 40px;

  background: $color-gray-01;
  box-shadow: 0 4px 9px $color-dark-08;
  backdrop-filter: blur(80px);

  @include laptop {
    padding-right: 400px;
  }
  @include mobile-laptop {
    padding: 270px 46px 46px 46px;
  }
  @include tablet-mobile {
    border-radius: 24px;
    padding: 160px 24px 24px 24px;
  }
}

.title {
  font-family: $font-Mont;
  font-size: 32px;
  font-weight: $fw-semibold;
  line-height: 42px;
  letter-spacing: -0.04em;
  text-align: left;
  margin-bottom: 32px;

  @include mobile-laptop {
    text-align: center;
  }
  @include tablet-mobile {
    font-size: 28px;
    line-height: 36px;
  }
}

.info {
  color: $color-gray-a5;
  letter-spacing: -0.02em;
  font-size: 16px;
  margin-top: 24px;
  width: 100%;

  @include mobile-laptop {
    text-align: center;
  }
  @include tablet-mobile {
    font-size: 12px;
    line-height: 17px;
  }
}

.input {
  max-width: 726px;
  width: 100%;
  margin-bottom: 24px;
  border-radius: 38px;
  background: $color-white;
  border: 1px solid $color-dark-05;
  box-shadow: 0px 3px 7px $color-dark-08;

  > input {
    @include tablet-mobile {
      text-align: center;
      margin: 0;
    }
  }

  &::placeholder {
    font-weight: $fw-semibold;
    font-size: 22px;
    letter-spacing: -0.04em;
    color: $color-gray-a5;
  }

  @include tablet-mobile {
    display: block;
    height:160px;
    border: none;
    box-shadow: none;

    >input {
      border: 1px solid $color-dark-05;
      height: 76px;
      box-shadow: 0px 3px 7px $color-dark-08;
      border-radius: 38px;
    }

     > button {
       margin: 20px auto;
     }
  }

  @include mobile-laptop {
    margin: auto;
  }
}
