@use 'styles/style' as *;

.textWrapper {
  &:has(.name) {
    max-width: 120px;
    overflow-x: auto;
  }
  &:has(.name)::-webkit-scrollbar {
    height: 2px;
  }
  &:has(.name)::-webkit-scrollbar-track {
    background: $color-gray-02;
  }
  &:has(.name)::-webkit-scrollbar-thumb {
    height: 2px;
    border: 1px solid $color-gray-eb;
  }
}

.name {
  max-width: 500px;
  text-align: start;
  text-transform: none;
  white-space: nowrap;
}