@use 'styles/style' as *;

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-black-blue;
  z-index: 9999;

  @include tablet-mobile {
    align-items: end;
    justify-content: start;
  }
}

.popupWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 15px;
  height: 100%;

  @include tablet-mobile {
    padding: 74px 16px 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }
}

.popupContent {
  position: relative;
  min-height: 497px;
  border-radius: 20px;
  background: linear-gradient($color-white, $color-white) padding-box, $border-gradient-access border-box;
  border: 3px solid transparent;
  box-shadow: $box-shadow-02;
  backdrop-filter: blur(46.9084px);

  > button {
    position: absolute;
    right: -88px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background: $color-gray-01;
    border: 1px solid $color-gray-02;
    border-radius: 50%;
    cursor: pointer;
    @media screen and (max-width: 700px) {
      display: none;
    }
  }

  @media screen and (max-width: 700px) {
    min-height: auto;
  }
}
.wrapperContent {
  overflow: auto;
  height: 100%;
  position: relative;

  &::-webkit-scrollbar {
    width: 0;
  }
  -ms-overflow-style: none;
}
