@use 'styles/style' as *;

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-black-blue;
  z-index: 10000;
  padding-bottom: 25px;
  overflow: auto;
  // @include tablet-mobile {
  //      align-items: end;
  //      justify-content: start;
  //      padding-top: 24px;
  // }

}

.popupWrapper {
  position: relative;
  margin: 0 15px;
  height: 80%;
  max-height: 1200px;

  @include tablet-mobile {
    padding: 0px 16px;
    margin: 0;
    width: 100%;
  }
}

.popupContent {
  position: relative;
  margin-bottom: 60px;

  @include mobile-laptop{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
  }
 
  @include laptop{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  

  > button {
    position: absolute;
    right: -88px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background: $color-gray-01;
    border: 1px solid $color-gray-02;
    border-radius: 50%;
    cursor: pointer;
    @include tablet-mobile{
      position: unset;
    }
    @include big-tablet{
      position: unset;
    }
    @include laptop{
      position: unset;
    }
  }
}
.wrapperContent {
  background: linear-gradient($color-white, $color-white) padding-box,
  $border-gradient-access border-box;
  border-radius: 20px;
  border: 3px solid transparent;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 55px;
  &::-webkit-scrollbar {
    width: 0;
  }
  -ms-overflow-style: none;
  @include mobile-laptop {
    padding: 32px 20px 24px 20px;
  }
  @include mobile-laptop{
    padding-bottom: 55px;
  }
}
.popup_added_button{
  width: 100%;
}
