@use 'styles/style' as *;

.form {
  margin-top: 30px;
}

.labelText {
  text-align: start;
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  color: $color-gray-a5;
  font-weight: $fw-semibold;
}

.label {
  display: block;
  margin-bottom: 30px;
  position: relative;
}

.labelInner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  font-size: 20px;
  color: $color-gray-a5;
  font-weight: $fw-semibold;
  align-items: flex-end;
}
.forgotPassword {
  font-size: 14px;
  color: $color-blue-b2;
}

.errorMessage {
  position: absolute;
  left: 0;
  bottom: -25px;
  text-align: start;
  color: $color-red;
}

.submitBtn {
  display: block;
  margin-top: 30px;
  width: 100%;
}

@media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width}) {
  .submitBtn {
    margin-top: 32px;
  }

  .form {
    margin-top: 32px;
  }

  .label {
    display: block;
    margin-bottom: 28px;
    position: relative;
  }

  .labelText {
    font-size: 18px;
    font-weight: $fw-medium;
  }

  .agreeInfo {
    margin-top: 17px;
    text-align: start;
    font-size: 12px;
    font-weight: $fw-regular;
  }

  .labelInner {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: $fw-medium;
  }

  .forgotPassword {
    font-weight: $fw-medium;
  }
}
