@use 'styles/style' as *;

.slider {
  position: relative;
  width: 100%;
  padding: 0 65px;
  box-sizing: border-box;

  &>div {
    overflow: visible;
  }

  [class*='swiper-horizontal']>[class*='swiper-pagination-bullets'] {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: absolute;
    bottom: 15px;
    height: fit-content;

    @include mobile-tablet {
      gap: 10px;
    }
  }

  [class*='swiper-slide'] {
    display: flex;
    justify-content: center;
  }

  [class*='swiper'] {
    overflow: visible;
    height: 720px;
  }

  [class='swiper-pagination-bullet'] {
    width: 16px;
    height: 16px;
    background-color: $color-black;
    border: 1px solid $color-white;
  }

  [class*='swiper-pagination-bullet-active'] {
    position: relative;
    width: 16px;
    height: 16px;
    border: none;
    background: $pagination-gradient;
  }

  .swiperButtonPrev {
    position: absolute;
    bottom: 0;
    width: 52px;
    height: 52px;
    background: $color-shadow-0-4;
    border-radius: 37px;

    &::after {
      font-size: 20px;
      color: $color-black;
      opacity: 0.2;
    }
  }

  [class*='swiper-button-next'] {
    right: 0;
  }

  [class*='swiper-button-prev'] {
    left: 0;
  }

  .swiperButtonNext {
    bottom: 0;
    width: 52px;
    height: 52px;
    background: $color-shadow-0-4;
    border-radius: 37px;

    &::after {
      font-size: 20px;
      color: $color-black;
      opacity: 0.2;
    }
  }
}


.navigationButton {
  position: relative;
  bottom: 30px;
  margin: 0 auto;
  max-width: 470px;
  width: 100%;

  @include mobile-tablet {
    max-width: 600px;
  }
}