@use 'styles/style' as *;

.wrapperCardInfo {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  max-width: 930px;
  padding: 55px;
  font-family: $font-Mont;
  font-style: normal;
  & > div:nth-child(2) {
    padding-bottom: 25px;
    border-bottom: 1px solid $color-gray-eb;
  }
  & > div:nth-child(3) {
    padding-bottom: 25px;
    border-bottom: 1px solid $color-gray-eb;
  }
  & > div:nth-child(4) {
    padding-bottom: 25px;
    border-bottom: 1px solid $color-gray-eb;
  }

  @media screen and (max-width: 600px) {
    padding: 20px 10px;
  }
}

.wrapperHeader {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 520px) {
    flex-direction: column;
  }
}

.titleCard {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 66px;
  @media screen and (max-width: 520px) {
    height: auto;
    flex-direction: column;
  }
}

.titleCardTop {
  display: flex;
  align-items: center;
  column-gap: 10px;
  @media screen and (max-width: 520px) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.appName {
  font-weight: $fw-bold;
  font-size: 32px;
  line-height: 100%;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.02em;
  color: $color-black;
  @media screen and (max-width: 520px) {
    width: min-content;
  }
}
.currentSection {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-left: 25px;
  border-left: 1px solid $color-gray-eb;
  @media screen and (max-width: 520px) {
    border: none;
    border-top: 1px solid $color-gray-eb;
    padding-top: 16px;
    padding-left: 0;
    width: 100%;
    align-items: center;
  }
  .titleCurent {
    font-weight: $fw-semibold;
    font-size: 15px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: $color-gray-a5;
  }
  .curentValue {
    font-weight: $fw-bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -0.03em;
    background: $pagination-gradient;
    background-clip: text;
    color: transparent;
    & > span {
      font-size: 25px;
      margin-left: 5px;
    }
  }
}
.countryCard {
  display: flex;
  gap: 10px;
  .countryInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
  }
  .country {
    text-align: start;
  }
  @media screen and (max-width: 520px) {
    display: none;
  }
}

.countryIssuer {
  font-weight: $fw-semibold;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: $color-gray-a5;
}

.country {
  font-weight: $fw-bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: $color-black;
}

.cardTags {
  display: flex;
  gap: 4px;
  width: 100%;
  @include tablet-mobile {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.textInfoCard {
  text-align: start;
  font-style: normal;
  font-weight: $fw-semibold;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: $color-gray-54;
  @media screen and (max-width: 520px) {
    border: none !important;
    padding: 0 !important;
  }
}
.indicators {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.titleIndicators {
  font-weight: $fw-bold;
  font-size: 24px;
  line-height: 140%;
  color: $color-black;
}
.indicatorsItem {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  column-gap: 16px;
}
.buyButton {
  width: 100%;
  display: flex;
  justify-content: center;
  & > button {
    width: 100%;
  }
}

.mobileCountryCard {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.mobileCountryInfo {
  display: flex;
  flex-direction: column;
}

.mobileCountry {
  font-size: 16px;
  font-weight: $fw-bold;
  color: $color-black;
}
