@use 'styles/style' as *;

.wrapperCardInfo {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 930px;
  padding-bottom: 20px;
  font-family: $font-Mont;
  font-style: normal;
  & > div:nth-child(2) {
    padding-bottom: 25px;
    border-bottom: 1px solid $color-gray-eb;
  }
  & > div:nth-child(3) {
    padding-bottom: 25px;
    border-bottom: 1px solid $color-gray-eb;
  }
  & > div:nth-child(4) {
    padding-bottom: 25px;
    border-bottom: 1px solid $color-gray-eb;
  }

  @media screen and (max-width: 1080px) {
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    padding: 20px 10px;
  }
}

.wrapperHeader {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 520px) {
    flex-direction: column;
  }
}

.titleCard {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 66px;
  width: 100%;
  @include tablet-mobile {
    width: 100%;
  }
  @media screen and (max-width: 420px) {
    height: auto;
    flex-direction: column;
  }
}

.titleCardTop {
  display: flex;
  align-items: center;
  width: 50%;
  column-gap: 10px;
  @media screen and (max-width: 520px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.appName {
  font-weight: $fw-bold;
  font-size: 21px;
  line-height: 100%;
  display: flex;
  flex-direction: column;
  letter-spacing: -0.02em;
  color: $color-black;
  @media screen and (max-width: 840px) {
    font-size: 18px;
  }
  @include tablet-mobile {
    font-size: 16px;
  }
}
.currentSection {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 6px;
  padding-left: 25px;
  border-left: 1px solid $color-gray-eb;

  @include tablet-mobile {
    width: 40%;
  }
  @media screen and (max-width: 420px) {
    border: none;
    border-top: 1px solid $color-gray-eb;
    padding-top: 16px;
    padding-left: 0;
    width: 100%;
    align-items: center;
  }
  .titleCurent {
    font-weight: $fw-semibold;
    font-size: 15px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: $color-gray-a5;

    @include tablet {
      font-size: 13px;
    }
  }
  .curentValue {
    font-weight: $fw-bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -0.03em;
    background: $pagination-gradient;
    background-clip: text;
    color: transparent;
    & > span {
      font-size: 25px;
      margin-left: 5px;
    }

    @include tablet {
      font-size: 32px;
      & > span {
        font-size: 20px;
      }
    }
  }
}
.countryCard {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 33%;

  .countryInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
  }
  .country {
    text-align: start;
  }
  @include tablet-mobile {
    display: none;
  }
}

.countryImage {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.countryIssuer {
  font-weight: $fw-semibold;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: $color-gray-a5;
}

.country {
  font-weight: $fw-bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: $color-black;
}

.cardTags {
  display: flex;
  gap: 4px;
  width: 100%;
  @include tablet-mobile {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.textInfoCard {
  text-align: start;
  font-style: normal;
  font-weight: $fw-semibold;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: $color-gray-54;
  @media screen and (max-width: 520px) {
    border: none !important;
    padding: 0 !important;
  }
}
.indicators {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.titleIndicators {
  font-weight: $fw-bold;
  font-size: 24px;
  line-height: 140%;
  color: $color-black;
}
.indicatorContainer {
  display: flex;
  width: 100%;
  gap: 16px;

  @include mobile-laptop {
    flex-direction: column;
  }
}
.indicatorWrap {
  width: 50%;

  @include mobile-laptop {
    width: 100%;
  }
}
.buyButton {
  width: 100%;
  display: flex;
  justify-content: center;
  & > button {
    width: 100%;
  }
}

.mobileCountryCard {
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  display: none;

  @include tablet-mobile {
    display: flex;
  }
}

.mobileCountryInfo {
  display: flex;
  flex-direction: column;
}
.mobileCountryIssuer {
  font-size: 14px;
}
.mobileCountry {
  font-size: 14px;
  font-weight: $fw-bold;
  color: $color-black;
}
.icon {
  width: 30%;
  height: 60px;

  .companyLogo {
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  @include tablet-mobile {
    width: 30%;
  }
}
