@use 'styles/style' as *;

.notify {
    width: 400px;
    padding: 20px;
    position: fixed;
    left: 20px;
    bottom: -200px;
    font-weight: $fw-bold;
    box-shadow: 0 4px 9px $color-dark-08;
    background-color: $color-white;
    border-radius: 10px;
    transition: all .5s;
    cursor: pointer;
    z-index: 999999999;
 

    @media (max-width: 420px) {
        left: 0;
        width: 100%;
    }
}

.active {
   bottom: 20px;
}

.wrapper {
    display: flex;
    align-items: center;
    & > p {margin: 6px 0 0 10px;}
}