@use 'styles/style' as *;

.cards {
  margin: 0 auto;
}

@media (min-width: #{$tablet-width}) {
  .cards {
    display: flex;
    padding: 125px 0 183px 0;
    flex-direction: column;
    max-width: 920px;
    gap: 73px;
  }
}

@media (max-width: #{$tablet-width}) {
  .cards {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 72px 0 144px 0;
    gap: 40px;
  }
}