@use 'styles/style' as *;

.wrapperField {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(356px, 1fr));

  @include tablet-mobile {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}

.field {
  width: 356px;
  text-align: start;
  margin-top: 60px;

  @include tablet-mobile {
    width: 100%;
    margin-top: 28px;
    margin-bottom: 0;
  }
}

.wrapperFullField {
  text-align: start;
  margin-top: 60px;

  @include tablet-mobile {
    width: 100%;
    margin-top: 28px;

    &:nth-child(2) {
      margin-top: 0;
    }
  }
}

.wrapperFlexField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;

  @include tablet-mobile {
    flex-direction: column;
  }
}

.flexField {
  width: 556px;
  text-align: start;
  margin-top: 30px;

  @include tablet-mobile {
    width: 100%;
    margin-top: 28px;
  }
}

.labelField {
  font-weight: $fw-semibold;
  font-size: 18px;
  color: $color-gray-a5;
  margin-bottom: 14px;
  display: inline-block;

  @include tablet-mobile {
    width: 100%;
    margin-bottom: 12px;
  }
}

.requiredField {
  color: $color-red;
}

.btnsAction {
  display: flex;
  justify-content: center;
  margin-top: 98px;
  column-gap: 32px;

  @media screen and (max-width: 466px) {
    flex-direction: column;
    row-gap: 28px;
  }

  .actionBtn {
    min-width: 254px;

    @media screen and (max-width: 466px) {
      width: 100%;

    }
  }

  @include tablet-mobile {
    width: 100%;
    margin-top: 28px;
    row-gap: 21px;
  }
}

.errMessage {
  position: absolute;
  color: $color-red;
}
.homeAddress {
  padding-top: 28px;
}
.btnCancel {
  background: #eef2fc;
  color: $color-blue;
}
.addressBlock{
  display: none;
}

.depository {
  margin-top: 74px;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: $color-blue;

  @include tablet-mobile {
    margin-top: 40px;
    font-size: 18px;
  }
}

.visaExample {
  display: flex;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
}

.example {
  position: absolute;
  width: 300px;
  height: 380px;
  border-radius: 20px;
  top: -400px;
  left: 0;
  padding: 5px;
  pointer-events: none;
  background-color: $color-white;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.08);
  z-index: 100;
  @media screen and (max-width: 350px){
    width: 275px;
    height: 360px;
  }
}

.visa {
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: $color-blue;
  &:hover {
    color: $color-black;
  }
}

.exampleImg {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-image: url('/assets/image/example.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}