@use 'styles/style' as *;

.container {
    padding: 100px 0;
    margin: 0 auto;
    max-width: 1400px;
}

.title {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 20px;
}

.pageDescription {
    max-width: 728px;
    color: #a5a5a5;
    font-size: 20px;
    font-weight: 600;
}

.filterWrapper {
    max-width: 928px;
    margin-top: 40px;
    position: relative;
}

.grid {
    margin-top: 32px;
    display: grid;
    row-gap: 32px;
    column-gap: 16px;
    grid-template-columns: repeat(6, 220px);
}
