@use "styles/style" as *;

.nav {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  padding-left: 24px;

  background: $color-gray-085;
  border: 1px solid $color-shadow-0-5;
  box-shadow: 0 4.77677px 9.55355px $color-shadow-0-8;
  backdrop-filter: blur(63.7px);
  border-radius: 16px;

  @include laptop-desktop {
    display: flex;
  }

}

.logo {
  height: 100%;
  width: 216px;
}

.tabs {
  display: flex;
  justify-content: space-between;
  max-width: 535px;
  width: 100%;
  height: 50px;
  list-style: none;
  padding: 0;
  margin: 30px 0 0;

  @include laptop {
    max-width: 420px;
  }
}
.link {
  display: block;
  position: relative;

  font-size: 20px;
  line-height: 110%;
  font-weight: $fw-medium;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-gray-54;
  cursor: pointer;
}

.active {
  font-weight: $fw-extrabold;
  background: $password-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.link.active::after {
  content: '';
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 24px;
  background: $border-gradient-access;
}


.userInfo {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.avatarGroup {
  display: flex;
  align-items: center;

  font-weight: $fw-bold;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: -0.03em;
}

.userFoto {
  width: 52px;
  height: 52px;
  margin-left: 16px;
  border-radius: 50%;
  overflow: hidden;
}
.userAvatar, .defaultAvatar {
  width: 100%;
  height: 100%;
  background-position: center top;
  background-size: cover;
  background-color: $color-gray-eb;
}

.defaultAvatar {
  background-image: url("/assets/image/avatar.png");
}

.userBalance {
  padding: 0 20px;
  border-right: 1px solid $color-gray-eb;
  flex-shrink: 0;
}

.title{
  margin-bottom: 6px;
  font-weight: $fw-semibold;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $color-gray-a5;
}

.balance {
  font-weight: $fw-bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.03em;
  background: $password-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.logOutButton {
  width: 60px;
  height: 100%;
  padding: 20px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}