@use 'styles/style' as *;

.intro {
  width: 100%;
  min-height: 960px;

  background: url('/assets/image/backgroundIntro.png');
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: end;

  position: relative;

  @include tablet-mobile {
    min-height: 843px;
  }
}

.backgroundMask {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  mix-blend-mode: overlay;
  background: url('/assets/image/backgroundIntroMask.png');
  background-size: cover;
}

.container {
  max-width: 740px;
  padding: 0 20px 28px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include tablet-mobile {
    max-width: 378px;
    margin: -843px auto 0;
  }
}

.logo {
  margin-bottom: 54px;
}

.introBtn {
  background: linear-gradient($color-gray-01, $color-gray-02) padding-box,
    linear-gradient(to bottom, $color-gray-01, transparent) border-box;
  box-shadow: $color-shadow-0-06;
  padding: 19px 32px;
  letter-spacing: 0.005em;
  font-size: 26px;
  line-height: 110%;
  margin-bottom: 237px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50em;
  border: 2px solid $color-gray-02;

  @include tablet-mobile {
    margin-bottom: 135px;
  }
}

.text {
  font-family: $font-Mont;
  font-style: normal;
  font-weight: $fw-semibold;
  font-size: 56px;
  line-height: 110%;
  letter-spacing: -0.045em;

  display: flex;
  align-items: flex-end;
  text-align: center;

  color: $color-white;

  @include tablet-mobile {
    font-size: 32px;
    line-height: 35px;
  }
}

.iconContainer {
  margin-top: 28px;
  height: 48px;
  width: 48px;

  @include mobile {
    margin-top: 8px;
    height: 40px;
    width: 40px;
  }

  .iconDown {
    cursor: pointer;
  }
}

.logoGroup {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-between;
  width: 520px;

  .logo {
    position: relative;
    width: 98px;
    height: 146px;
  }

  .logoText {
    position: relative;
    width: 393px;
    height: 52px;
    margin-bottom: 8px;
  }
}
