@use '../../styles/style.scss' as *;

.nav1 {
  display: flex;
  justify-content: space-between;
  margin: 24px auto;
  max-width: $max-layout-width;
  width: 100%;
  column-gap: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-white;

  ul {
    display: flex;
    column-gap: 15px;
    justify-content: space-between;
    align-items: center;
    width: 76%;
    list-style: none;
    padding: 0;
  }

  li {
    cursor: pointer;
    @media screen and (max-width: 1157px) {
      font-size: 16px;
    }
  }

  button {
    display: flex;
    align-items: center;
    width: 287px;
    height: 60px;
    background: $color-gray-02;
    box-shadow: 0px 4px 10px $color-shadow-0-6;
    border-radius: 79px;
    border: none;

    font-size: 18px;
    line-height: 110%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $color-white;
    cursor: pointer;
  }

  .btnImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    margin-left: 4px;
    margin-right: 6px;
    border-radius: 62px;
    background: $color-gray-02;
  }
}

.nav2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: $max-layout-width;
  width: 100%;
  height: 80px;
  margin: 0 auto;

  background: $color-gray-085;
  border: 1px solid $color-shadow-0-5;
  box-shadow: $color-shadow-0-8;
  backdrop-filter: blur(63.7px);
  border-radius: 16px;

  @media screen and (max-width: 1500px) {
    column-gap: 30px;
  }

  .logoText2 {
    display: flex;
    align-items: center;
    @media screen and (max-width: 1390px) {
      display: none;
    }
  }

  .logoGroup2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 246px;
    margin-left: 23px;
    @media screen and (max-width: 1390px) {
      width: max-content;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    width: 580px;
    height: 50px;
    list-style: none;
    padding: 0;
    margin: 30px 0 0;
  }
  .link {
    display: block;
    position: relative;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $color-gray-54;
    cursor: pointer;
    @media screen and (max-width: 1062px) {
      font-size: 16px;
    }
  }
  .active {
    font-weight: 800;
    background: $password-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .link.active::after {
    content: '';
    position: absolute;
    top: 46px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 24px;
    background: $border-gradient-access;
  }

  .userInfo {
    display: flex;
    margin-right: 24px;
  }
  .avatarGroup {
    display: flex;
    align-items: center;

    font-weight: $fw-bold;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: -0.03em;
  }
  .userFoto {
    width: 52px;
    height: 52px;
    margin-left: 16px;
    border-radius: 50%;
  }
  .userBalance {
    padding: 0 20px;
    border-right: 1px solid $color-gray-eb;
    margin-right: 20px;
    & div {
      margin-bottom: 6px;
      font-weight: $fw-semibold;
      font-size: 13px;
      line-height: 100%;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      color: $color-gray-a5;
    }

    & span {
      font-weight: $fw-bold;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: -0.03em;
      background: $password-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
}

@media (max-width: #{$tablet-width}) {
  .nav1 {
    justify-content: center;
    margin: 16px 0;
    ul {
      display: none;
    }
    button {
      width: 227px;
      height: 50px;
      font-size: 13px;
      line-height: 110%;
    }
    .btnImg {
      width: 40px;
      height: 40px;
    }
  }
}

.mobileNavBar {
  padding: 14px 24px;
  width: 100%;
  border-radius: 16px;
  background: $color-white;
  border: 1px solid $color-black-05;
  box-shadow: 0px 5px 10px $color-black-08;
  backdrop-filter: blur(63px);
}

.mobileNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatarGroup {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding-right: 16px;
  border-right: 1px solid $color-gray-eb;
}

.userName {
  word-break: break-all;
  overflow-wrap: break-word;
  font-size: 16px;
  font-weight: $fw-bold;
}

.mobileNavbarWrapper {
  display: flex;
  align-items: center;
  column-gap: 26px;
}

.burgerMenu {
  width: 34px;
  height: 25px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.burgerMenuLine {
  width: 100%;
  height: 5px;
  background: $password-gradient;
  border-radius: 80px;
  position: absolute;
  &:first-child {
    top: 0;
    left: 0;
    transition: 0.3s ease-in;
  }
  &:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    transition: 0.3s ease-in;
  }
  &:last-child {
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in;
  }
}

.activeMenu {
  .burgerMenuLine {
    &:first-child {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      left: 0;
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:last-child {
      bottom: 50%;
      transform: translateY(50%) rotate(-45deg);
      left: 0;
    }
  }
}

.burgerMenuList {
  margin-top: 16px;
  border-top: 1px solid $color-gray-eb;
  padding-top: 16px;
}

.burgerMenuTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px;
}

.burgerMenuBalance,
.burgerMenuLogout {
  font-size: 13px;
  font-weight: $fw-semibold;
  color: $color-gray-a5;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 6px;
}

.burgerMenuBalanceNum {
  font-size: 20px;
  font-weight: $fw-bold;
  background: $password-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.burgerMenuLogoutWrapper {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.linkItem {
  width: 100%;
  padding: 21px 16px;
  border: 1px solid $color-dark-05;
  box-shadow: 0px 5px 10px $color-dark-08;
  backdrop-filter: blur(63px);
  border-radius: 16px;
  background-color: $color-white;
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.burgerLink {
  color: $color-gray-54;
  font-size: 22px;
  font-weight: $fw-semibold;
}

.linkItem {
  .active {
    font-weight: $fw-bold;
    background: $password-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
