@use "styles/style" as *;

.balance {
  display: flex;
  column-gap: 30px;
  row-gap: 14px;
  flex-wrap: wrap;

  @media screen and (max-width: 921px) {
    column-gap: 20px;
  }

  @include tablet-mobile {
    width: 100%;
    flex-direction: column;
  }
}