@use 'styles/style' as *;

.popup {
  padding: 20px 10px;
}

.buystockTitle {
  width: 100%;
  max-width: 531px;
  font-size: 40px;
  margin: 0 auto;
  line-height: 140%;
  font-weight: $fw-bold;
  letter-spacing: -0.03em;
  text-align: center;

  @include tablet {
    font-size: 26px;
    text-align: center;
  }
}

.buystockList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 34px;
  margin-bottom: 33px;
  width: 100%;

  @include tablet {
    flex-direction: column;
  }
}

.buystockDescription {
  width: 100%;
  max-width: 432px;
  margin: 0 auto;
  line-height: 140%;
  font-size: 22px;
  color: $color-gray-a5;
  letter-spacing: -0.02em;
  font-weight: $fw-semibold;
  text-align: center;

  @include tablet {
    font-size: 16px;
    text-align: center;
  }
}

.buystockBtn {
  max-width: 161px;
  margin: 48px auto;
}
