@use 'styles/style' as *;

.page {
  padding: 0 16px;
}
.container {
  padding: 140px 0 0;
  max-width: 1438px;
  margin: 0 auto;
}

.title {
  font-size: 56px;
  font-weight: $fw-bold;
  margin-bottom: 20px;
}

.pageDescription {
  max-width: 728px;
  color: $color-gray-a5;
  font-size: 20px;
  font-weight: $fw-semibold;
}

.filterWrapper {
  width: 100%;
  margin-top: 40px;
  position: relative;
}

.grid {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 16px;
  row-gap: 32px;

  @include laptop {
    grid-template-columns: repeat(4, 1fr);
  }
  @include mobile-laptop {
    grid-template-columns: repeat(3, 1fr);
  }
  @include tablet-mobile {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
    row-gap: 32px;
  }
}

.bottomBuySection {
  border-radius: 16px;
  border: 1px solid $color-dark-01;
  box-shadow: 0 5px 10px $color-dark-08;
  backdrop-filter: blur(63.6903px);
  position: fixed;
  bottom: -200px;
  width: 98%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
}
.bottomBuySectionShow {
  bottom: 0;
}
.searchInput {
  border-radius: 100px;
  height: 58px;
  max-width: 456px;
  padding: 10px 22px;
  box-shadow: none;
  background-color: $color-gray-f6;
  border: none;

  input {
    background-color: $color-gray-f6;
    color: $color-blue;
    padding-right: 25px;
    &::-webkit-input-placeholder {
      color: $color-blue;
    }
  }
}

.inputWrapper {
  position: relative;
}

.searchIcon {
  position: absolute;
  top: 20px;
  right: 20px;
}
