@use "styles/style" as *;

.percent {
  font-weight: $fw-semibold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.positive {
  color: $color-green-0d;
  svg {
    margin-right: 5px;
    fill: $color-green-0d;
  }
}
.negative {
  color: $color-red;

  svg {
    margin-right: 5px;
    transform: rotate(180deg);
    fill: $color-red;
  }
}