@use 'styles/style' as *;

.overlay {
  width: 100%;
}

.activeOverlay {
  position: fixed;
  padding: 8px;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background: $color-black-blue;
}

.mobileNavBar {
  padding: 14px 24px;
  width: 100%;
  border-radius: 16px;
  background: $color-white;
  border: 1px solid $color-black-05;
  box-shadow: 0 5px 10px $color-black-08;
  backdrop-filter: blur(63px);
  display: none;

  @media  screen and (max-width: 1023px) {
    display: block;
  }
}

.mobileNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoMini {
  display: none;

  @include tablet-mobile {
    display: block;
  }
}
.logoBig {
  @include tablet-mobile {
    display: none;
  }
}

.avatarGroup {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding-right: 16px;
  border-right: 1px solid $color-gray-eb;
}
.userFoto {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  overflow: hidden;
}

.userAvatar, .defaultAvatar {
  width: 100%;
  height: 100%;
  background-position: center top;
  background-size: cover;
  background-color: $color-gray-eb;
}

.defaultAvatar {
  background-image: url("/assets/image/avatar.png");
}

.userName {
  word-break: break-all;
  overflow-wrap: break-word;
  font-size: 16px;
  font-weight: $fw-bold;
}

.mobileNavbarWrapper {
  display: flex;
  align-items: center;
  column-gap: 26px;
}

.burgerMenuLine {
  background: $password-gradient;
  display: block;
}

.burgerMenuList {
  margin-top: 16px;
  border-top: 1px solid $color-gray-eb;
  padding-top: 16px;
}

.burgerMenuTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px;
}

.burgerMenuBalance,
.burgerMenuLogout {
  font-size: 13px;
  font-weight: $fw-semibold;
  color: $color-gray-a5;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.burgerMenuBalanceNum {
  font-size: 24px;
  font-weight: $fw-bold;
  background: $password-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.burgerMenuLogoutWrapper {
  display: flex;
  align-items: center;
  column-gap: 8px;
  border: none;
  padding: 10px 0;
  background-color: transparent;
}

.linkItem {
  width: 100%;
  padding: 21px 16px;
  border: 1px solid $color-dark-05;
  box-shadow: 0 5px 10px $color-dark-08;
  backdrop-filter: blur(63px);
  border-radius: 16px;
  background-color: $color-white;
  text-transform: uppercase;
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.burgerLink {
  color: $color-gray-54;
  font-size: 22px;
  font-weight: $fw-semibold;
}

.linkItem {
  .active {
    font-weight: $fw-bold;
    background: $password-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
