@use 'styles/style' as *;

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-height: 80px;
  position: relative;
  padding: 10px;
  max-width: 98%;
  @media screen and (max-width: 658px) {
    flex-direction: column;
  }
}

.cards {
  height: 67px;
  display: flex;
  align-items: center;
  width: 100%;

  z-index: 1;
  gap: 8px;
  overflow-y: hidden;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: auto;
    height: 5px;
    background-color: $color-black-08;
  }
  &::-webkit-scrollbar-thumb {
    background: $border-gradient-access;
    border-radius: 100px;
  }
}

.button {
  min-width: 180px;
  height: 56px;
  white-space: nowrap;
  @media screen and (max-width: 658px) {
    width: 358px;
  }
}
