@use 'styles/style' as *;

.wrapper:not(:last-child) {
  padding-right: 20px;
  border-right: 1px solid $color-gray-eb;

  @media screen and (max-width: 768px) {
    padding-right: 0px;
    padding-bottom: 14px;
    border: none;
    border-bottom: 1px solid $color-gray-eb;
  }
}

.wrapperContent {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 5px;
}

.title {
  font-style: normal;
  font-weight: $fw-semibold;
  font-size: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $color-gray-a5;
}

.content {
  display: flex;
  gap: 5px;
  background: $password-gradient;
  background-clip: text;
  color: transparent;
  font-style: normal;
  font-weight: $fw-bold;
  font-size: 28px;
  line-height: 26px;
  letter-spacing: -0.03em;

}

.currency {
  text-transform: uppercase;
  font-size: 24px;
  align-self: end;
  line-height: 24px;

  @media screen and (max-width: 390px) {
    font-size: 23px;
  }
}

.percent {
  align-self: end;
}