@use 'styles/style' as *;

.wrapper {
  padding: 140px 16px 100px;
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  @media screen and (max-width: 1440px) {
    justify-content: center;
    flex-direction: column;
    row-gap: 32px;
  }
}

.wrapperAvatar {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.wrapperBalance {
  display: flex;
  column-gap: 30px;
  @media screen and (max-width: 921px) {
    column-gap: 20px;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    row-gap: 14px;
  }
}

.avatar {
  display: flex;
  align-items: center;
  border-radius: 100%;
  border: 12px solid $color-white;
  box-shadow: $box-shadow-08;
  background: $color-white;
  overflow: hidden;
}

.changeAvatar {
  padding: 0 132px 0 60px;
  @media screen and (max-width: 1440px) {
    padding: 0;
  }
}

.labelUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-blue;
  cursor: pointer;
}

.textUpload {
  margin-top: 12px;
  text-align: center;
}

.inputUpload {
  display: none;
}

.iconUpload {
  width: 64px;
  height: 64px;
  background: $color-gray-f6;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.wrapperField {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(356px, 1fr));
  @include tablet-mobile {
    grid-template-columns: repeat(1, 1fr);
  }
}

.field {
  width: 356px;
  text-align: start;
  margin-top: 60px;
  @include tablet-mobile {
    width: 100%;
  }
}

.wrapperFullField {
  text-align: start;
  margin-top: 60px;
}

.wrapperFlexField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  @include tablet-mobile {
    flex-direction: column;
  }
}

.flexField {
  width: 556px;
  text-align: start;
  margin-top: 60px;
  @include tablet-mobile {
    width: 100%;
  }
}

.textField {
  margin-top: 14px;
}

.labelField {
  font-weight: $fw-semibold;
  font-size: 18px;
  color: $color-gray-a5;
}

.requiredField {
  color: $color-red;
}

.btnsAction {
  display: flex;
  justify-content: center;
  margin-top: 98px;
  column-gap: 32px;
  @media screen and (max-width: 466px) {
    flex-direction: column;
    row-gap: 28px;
  }

  .actionBtn {
    @media screen and (max-width: 466px) {
      width: 100%;
    }
  }
}

.errMessage {
  color: $color-red;
}

.btnCancel {
  background: #eef2fc;
  color: $color-blue;
}
