$color-white: #fff;
$color-black: #000;

$color-red: red;

$color-blue: #0a39b1;
$color-blue-b2: #0a39b2;
$color-blue-b2-opacity: #0a3ab223;
$color-pink: #e0098a;

$color-black-04: rgba(0, 0, 0, 0.04);

$color-dark-blue: rgba(12, 25, 60, 0.8);
$color-black-blue: rgba(12, 25, 60, 0.8);
$color-black-light: rgba(10, 57, 178, 0.1);

$color-black-04: rgba(0, 0, 0, 0.04);
$color-black-05: rgba(0, 0, 0, 0.05);
$color-black-08: rgba(0, 0, 0, 0.08);

$color-gray-01: rgba(255, 255, 255, 0.1);
$color-gray-02: rgba(255, 255, 255, 0.2);
$color-gray-085: rgba(255, 255, 255, 0.85);

$color-dark-04: rgba(0, 0, 0, 0.04);
$color-dark-05: rgba(0, 0, 0, 0.05);
$color-dark-08: rgba(0, 0, 0, 0.08);

$border-gradient-access: linear-gradient(to right, $color-blue 50%, $color-pink 100%);

$border-gradient-access: linear-gradient(to right, $color-blue 50%, $color-pink 100%);

$background-linear-180: linear-gradient(180deg, #f9f9f9 0%, #f3f3f3 9.53%);

$color-gradient-blue-pink-90d: linear-gradient(90deg, $color-blue 29.69%, $color-pink 100%);
$pagination-gradient: linear-gradient(#003ad0 29.69%, #e8008b 100%);
$password-gradient: linear-gradient(90deg, #0a39b1 29.69%, #e0098a 100%);

$border-gradient-access: linear-gradient(to right, $color-blue 50%, $color-pink 100%);
$pagination-gradient: linear-gradient(#003ad0 29.69%, #e8008b 100%);

$box-shadow-02: 0px 4px 32px rgba(24, 19, 81, 0.2);
$box-shadow-08: 0px 3.5px 7px rgba(0, 0, 0, 0.08);
$color-white-01: rgba(255, 255, 255, 0.1);
$color-gray-54: #545454;
$color-gray-a5: #a5a5a5;
$color-gray-eb: #ebebeb;
$color-gray-f6: #f6f9fc;

$color-green-0d: #4acc0d;

$color-shadow-0-24: 0px 5px 10px rgba(0, 0, 0, 0.24);

$color-dark-blue-border: rgba(10, 57, 178, 0.1);

$color-shadow-0-4: rgba(0, 0, 0, 0.04);
$color-shadow-0-5: rgba(0, 0, 0, 0.05);
$color-shadow-0-6: rgba(0, 0, 0, 0.06);
$color-shadow-0-8: rgba(0, 0, 0, 0.08);

$color-purple-05: rgba(103, 114, 229, 0.5);
$color-purple-005: rgba(103, 114, 229, 0.05);
$color-purple: #6772e5;
