@use 'styles/style' as *;

.filterItem,
.mobileSelect {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 19px 22px;
  cursor: pointer;
  background: $color-gray-f6;
  border-radius: 100px;
  font-family: $font-Mont;
  font-style: normal;
  font-weight: $fw-semibold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: $color-blue-b2;
}

.mobileSelect {
  margin: 0 auto;
  max-width: 358px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.arrow {
  width: 10px;
  height: 10px;
  border-bottom: 1.5px solid $color-blue-b2;
  border-left: 1.5px solid $color-blue-b2;
  transform: rotate(-45deg);
}
.filters {
  max-width: 1438px;
  display: flex;
  align-items: center;
  gap: 10px;
  @media screen and (max-width: 1160px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (max-width: 567px) {
    display: none;
  }
}

.mobileFilterPanel {
  width: 358px;
  height: 100%;
  background-color: $color-white;
  border-radius: 20px;
  padding: 32px 20px;
}

.mobileFilters {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0;
  }
  -ms-overflow-style: none;
}

.mobileFilterTitle {
  font-size: 26px;
  text-align: center;
  font-weight: $fw-bold;
  color: $color-black;
  margin-bottom: 24px;
}

.btn {
  width: 100%;
  margin-top: 32px;
}

.wide {
  width: 456px;

  @media screen and (max-width: 567px) {
    width: 100%;
    margin-bottom: 20px;
  }
}

.short {
  width: 220px;
  @media screen and (max-width: 567px) {
    width: 100%;
    margin-bottom: 20px;
  }
}
