@use 'styles/style' as *;

.filterItem {
  display: flex;
  align-items: center;

  gap: 30px;
  padding: 19px 22px;
  cursor: pointer;
  border-radius: 100px;
  background: $color-gray-f6;
  color: $color-blue-b2;
  border: 1px solid $color-dark-blue-border;

  font-family: $font-Mont;
  font-style: normal;
  font-weight: $fw-semibold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
}

.arrow {
  width: 10px;
  height: 10px;
  border-bottom: 1.5px solid $color-blue-b2;
  border-left: 1.5px solid $color-blue-b2;
  transform: rotate(-45deg);
}

.desktopFilters {
  max-width: 1438px;
  display: flex;
  align-items: center;
  gap: 10px;

  @include tablet-mobile {
    display: none;
  }
}
.short {
  flex-grow: 0;
  width: 30%;
}
.searchInput {
  border-radius: 100px;
  height: 58px;
  padding: 10px 22px;
  box-shadow: none;
  background-color: $color-gray-f6;
  border: none;

  input {
    background-color: $color-gray-f6;
    color: $color-blue;
    padding-right: 25px;

    &::-webkit-input-placeholder {
      color: $color-blue;
    }
  }
  @include tablet-mobile {
    margin-bottom: 20px;
  }

}

.inputWrapper {
  position: relative;
  flex-grow: 1;
}

.searchIcon {
  position: absolute;
  top: 20px;
  right: 20px;
}

// mobile styles
.mobileFilters {
  display: none;

  @include tablet-mobile {
    display: block;
  }
}

.mobileSelect {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  gap: 30px;
  padding: 19px 22px;
  cursor: pointer;
  border-radius: 100px;
  background: $color-gray-f6;
  color: $color-blue-b2;
  border: 1px solid $color-dark-blue-border;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  font-family: $font-Mont;
  font-style: normal;
  font-weight: $fw-semibold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
}

.mobileFiltersActive {
  display: flex;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  gap: 4px;
}

.filter {
  padding: 12px 22px;
  background: $color-gray-f6;
  border: 1px solid $color-dark-blue-border;
  border-radius: 100px;
  color: $color-pink-2;
  flex-shrink: 0;
  margin-top: 20px;

  font-family: $font-Mont;
  font-size: 16px;
  font-weight: $fw-semibold;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: center;

  display: flex;
  align-items: center;
}

.resetMenuBtn {
  width: 14px;
  height: 14px;
  border: none;
  margin-left: 8px;
  background: url('/assets/icons/X.svg');
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.mobileFiltersPopup {
  gap: 20px;
}
.mobileFiltersTitle {
  font-family: $font-Mont;
  font-size: 26px;
  font-weight: $fw-bold;
  line-height: 26px;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 25px;
}
